.input {
  font-size: 16px;
  margin: 10px 0;
  background-color: #fff;
  border-radius: 8px;
}
.input:focus {
  background-color: lightblue;
}
.btn {
  font-size: 16px;
  margin: 10px 0;
  background-color: #fff;
  border-radius: 8px;
  font-weight: 700;
}
.btn:active,
.btn:hover {
  background-color: lightskyblue;
}
